h1 {
    font-family:  'Bebas Neue', cursive;
    font-size: 60px;
    text-transform: uppercase;
    color: #E08E5F;

}

p {
    font-family: 'Sanchez', serif;
    font-size: 18px;
    text-align: justify;
    color: #886948;
}

h2 {
    font-family: 'Sanchez', serif;
    font-size: 28;
    color: #886948;

}

h3 {
    font-family: 'Sanchez', serif;
    font-size: 20;
    color: #886948;
}

li {
    font-family: 'Sanchez', serif;
    font-size: 16;
    color: #886948;
}

ul{
    margin: 0;
    padding: 1;

    li {
        font-family: 'Sanchez', serif;
        font-size: 16;
        list-style: none;
    }
    
}

aside {
    color: #886948;
    font-family: 'Sanchez', serif;

}


@media only screen and (max-width: 370px) {
    
    #intro {

        @media only screen and (max-width: 370px) {
            #brunch-intro-container {
                display: grid;
                justify-content: center;
                grid-template-columns: 328px;
                grid-template-rows: 300px 300px 300px;
                gap: 32px;
                margin-bottom: 64px;
                margin-top: 32px;
                grid-template-areas: 
                "a1"
                "b1"
                "c1";
        
            }
        
            #brunch-intro-header {
                grid-area: a1;
                text-align: center;
        
            }
        
            #bruch-intro-p {
                grid-area: b1;
            }
            
            #brunch-img-1 {
                grid-area: c1;
                margin-top: -36px;
            }    
        }
    }

    #menu {
        
        display: grid;
        grid-column: 370px;
        grid-row: auto auto;
        grid-template-areas: 
        "a1"
        "a2";

        .menu-left {

            text-align: left;
            grid-area: a1;

        }

        .menu-right {

            text-align: left;
            grid-area: a2;
        }
    }



    
}