h1 {
    font-family:  'Bebas Neue', cursive;
    font-size: 60px;
    text-transform: uppercase;
    color: #E08E5F;

}

p {
    font-family: 'Sanchez', serif;
    font-size: 18px;
    text-align: justify;
    color: #886948;
}

h2 {
    font-family: 'Sanchez', serif;
    font-size: 28;
    color: #886948;

}

h3 {
    font-family: 'Sanchez', serif;
    font-size: 20;
    color: #886948;
}

li {
    font-family: 'Sanchez', serif;
    font-size: 16;
    color: #886948;
}

ul{
    margin: 0;
    padding: 0;

    li {
        font-family: 'Sanchez', serif;
        font-size: 16;
        list-style: none;
    }
    
}

aside {
    color: #886948;
    font-family: 'Sanchez', serif;

}