h1 {
    font-family:  'Bebas Neue', cursive;
    font-size: 60;
    text-transform: uppercase;
}

h2 {
    font-family: 'Sanchez', serif;
    font-size: 28;

}

h3 {
    font-family: 'Sanchez', serif;
    font-size: 20;
}

li {
    font-family: 'Sanchez', serif;
    font-size: 16;
}

ul{
    margin: 0;
    padding: 0;

    li {
        font-family: 'Sanchez', serif;
        font-size: 16;
        list-style: none;
    }

    
}