h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  text-transform: uppercase;
  color: #E08E5F;
}

p {
  font-family: "Sanchez", serif;
  font-size: 18px;
  text-align: justify;
  color: #886948;
}

h2 {
  font-family: "Sanchez", serif;
  font-size: 28;
  color: #886948;
}

h3 {
  font-family: "Sanchez", serif;
  font-size: 20;
  color: #886948;
}

li {
  font-family: "Sanchez", serif;
  font-size: 16;
  color: #886948;
}

ul {
  margin: 0;
  padding: 1;
}
ul li {
  font-family: "Sanchez", serif;
  font-size: 16;
  list-style: none;
}

aside {
  color: #886948;
  font-family: "Sanchez", serif;
}

@media only screen and (max-width: 370px) and (max-width: 370px) {
  #intro #brunch-intro-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 328px;
    grid-template-rows: 300px 300px 300px;
    gap: 32px;
    margin-bottom: 64px;
    margin-top: 32px;
    grid-template-areas: "a1" "b1" "c1";
  }
  #intro #brunch-intro-header {
    grid-area: a1;
    text-align: center;
  }
  #intro #bruch-intro-p {
    grid-area: b1;
  }
  #intro #brunch-img-1 {
    grid-area: c1;
    margin-top: -36px;
  }
}
@media only screen and (max-width: 370px) {
  #menu {
    display: grid;
    grid-column: 370px;
    grid-row: auto auto;
    grid-template-areas: "a1" "a2";
  }
  #menu .menu-left {
    text-align: left;
    grid-area: a1;
  }
  #menu .menu-right {
    text-align: left;
    grid-area: a2;
  }
}
.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #fd9090;
  background-color: gray;
}

#hero {
  align-items: center;
  background-image: url(../img/hero/hero.png);
  border-image-width: 100;
  display: flex;
  justify-content: flex-start;
  min-height: 75vh;
  background-position: center;
  width: 100%;
}
#hero #herotext {
  margin-top: 400px;
  padding: 24px 40px;
}
#hero #herotext h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #EBD7B2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: -20px;
}
#hero #herotext p {
  font-family: "Sanchez", serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: initial;
  color: #EBD7B2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* =============
    BRUNCH
============= */
#menu {
  display: grid;
  margin-left: 81px;
  margin-right: 81px;
  justify-content: center;
  margin: 140px;
}

#pancake-1 {
  width: 100%;
  align-items: center;
  background-image: url(../img/brunch/pancake.png);
  border-image-width: 100;
  display: flex;
  justify-content: center;
  min-height: 20vh;
  min-width: 20vh;
  background-position: center;
}

#bagel-coffee {
  width: 100%;
  align-items: center;
  background-image: url(../img/brunch/brunch-2.png);
  border-image-width: 100;
  display: flex;
  justify-content: center;
  min-height: 20vh;
  min-width: 20vh;
  background-position: center;
}

.brunchmenu {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  margin-bottom: -124px;
}

#breakfast-sandwiches {
  text-align: left;
  font-family: "Sanchez", serif;
  font-size: 28;
}

#cafe-favorites {
  text-align: left;
  font-family: "Sanchez", serif;
  font-size: 28;
}

#menu {
  display: flex;
  column-gap: 36px;
  padding: 81px;
}
#menu .menu-left {
  text-align: left;
}
#menu .menu-right {
  text-align: left;
}

#intro #brunch-intro-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 328px 328px;
  grid-template-rows: 64px 300px;
  gap: 32px;
  margin-bottom: 64px;
  margin-top: 32px;
  grid-template-areas: "a1 ." "b1 b2";
}
#intro #brunch-intro-header {
  grid-area: a1;
  text-align: right;
}
#intro #bruch-intro-p {
  grid-area: b1;
}
#intro #brunch-img-1 {
  grid-area: b2;
  margin-top: -36px;
}

#coffee-tea #coffee-tea-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 449px 449px;
  grid-template-rows: 64px 313px;
  gap: 32px;
  column-gap: 100px;
  margin-bottom: 250px;
  margin-top: 32px;
  margin-left: 75px;
  margin-right: 75px;
  grid-template-areas: ". a2" "b1 b2";
}
#coffee-tea #coffee-tea-header {
  grid-area: a2;
}
#coffee-tea #img-coffee-tea {
  grid-area: b1;
  margin-top: -80px;
}
#coffee-tea #coffee-tea-p {
  grid-area: b2;
}

#pastries #pastries-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 449px 449px;
  grid-template-rows: 64px 313px;
  gap: 32px;
  column-gap: 100px;
  margin-bottom: 120px;
  margin-top: 32px;
  grid-template-areas: "a1 ." "b1 b2";
}
#pastries #pastries-header {
  grid-area: a1;
  text-align: right;
}
#pastries #pastries-img {
  grid-area: b2;
  margin-top: -120px;
}
#pastries #pastries-p {
  grid-area: b1;
}

#about-us #about-us-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 928px;
  grid-template-rows: auto;
  gap: 32px;
  margin-bottom: 250px;
  margin-top: 32px;
  grid-template-areas: "a1";
}
#about-us #about-us-header {
  text-align: center;
  margin-bottom: -20px;
}
#about-us #about-us-p {
  margin-left: 120px;
  margin-right: 120px;
}

#gallery #gallery-container {
  display: grid;
  justify-content: center;
  grid-gap: 32px;
  margin-bottom: 32px;
  grid-template-columns: 209px 209px 209px 209px;
  grid-template-rows: 209px 209px 209px 209px;
  grid-template-areas: "g1 g2 g3 g3" "g4 g4 g3 g3" "g5 g5 g5 g6" "g5 g5 g5 g7";
}
#gallery #gallery-header {
  text-align: center;
  margin-top: -150px;
}
#gallery #gal-1 {
  grid-area: g1;
}
#gallery #gal-2 {
  grid-area: g2;
}
#gallery #gal-3 {
  grid-area: g3;
}
#gallery #gal-4 {
  grid-area: g4;
}
#gallery #gal-5 {
  grid-area: g5;
}
#gallery #gal-6 {
  grid-area: g6;
}
#gallery #gal-7 {
  grid-area: g7;
}

#footer-contents #footer-header {
  margin-top: 200px;
  color: #703F22;
  text-align: center;
}
#footer-contents #footer-phone {
  color: #703F22;
  text-align: center;
}
#footer-contents #footer-address {
  color: #703F22;
  text-align: center;
}

#socials-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  column-gap: 30px;
  scale: 2;
  margin: 72px;
  grid-template-areas: "s1 s2";
}

#instagram {
  grid-area: s1;
  color: #703F22;
}

#twitter {
  grid-area: s2;
  color: #703F22;
}

#footer-bg {
  background-color: #FAE0AC;
}
