/* =============
    BRUNCH
============= */


#menu {
    display: grid;
    margin-left: 81px;
    margin-right: 81px;
    justify-content: center;
    margin: 140px;
}

#pancake-1 {
    width: 100%;
    align-items: center;
    background-image: url(../img/brunch/pancake.png);
    border-image-width: 100;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    min-width: 20vh;
    background-position: center;
}

#bagel-coffee {
    width: 100%;

    align-items: center;
    background-image: url(../img/brunch/brunch-2.png);
    border-image-width: 100;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    min-width: 20vh;
    background-position: center;
}

.brunchmenu {
    text-align: center ;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-bottom: -124px;

}

#breakfast-sandwiches {
    text-align: left;
    font-family: 'Sanchez', serif;
    font-size: 28;
}

#cafe-favorites {
    text-align: left;
    font-family: 'Sanchez', serif;
    font-size: 28;
}

#menu {
    display: flex;
    column-gap: 36px;
    padding: 81px;


    .menu-left {
        text-align: left;
    }

    .menu-right {
        text-align: left;
    }

}

