/* =============
    BRUNCH
============= */



.brunchmenu {
    text-align: center ;
    font-family: 'Bebas Neue', cursive;
    font-size: 60;

}

#breakfast-sandwiches {
    text-align: left;
    font-family: 'Sanchez', serif;
    font-size: 28;
}

#cafe-favorites {
    text-align: left;
    font-family: 'Sanchez', serif;
    font-size: 28;
}

#menu {
    display: flex;
    column-gap: 36px;
    padding: 81px;


    .menu-left {
        text-align: left;
    }

    .menu-right {
        text-align: left;
    }

}

aside {
    font-family: 'Sanchez', serif;
    font-size: 12;
}
