/* =============
    BRUNCH
============= */



.brunchmenu {
    text-align: center ;
    font-family: 'Bebas Neue', cursive;

}

#breakfast-sandwiches {
    text-align: right;
}

#cafe-favorites {
    text-align: left;
}

#menu {
    display: flex;
    column-gap: 36px;
    padding: 81px;


    .menu-left {
        text-align: left;
    }

    .menu-right {
        text-align: right;
    }

}
